.navbar {
    font-family: 'Unbounded';
}
#imagen-principal {
    background-image: url(/assets/imgs/header-ajustado.jpg);
    background-size: cover;
    font-family: "roboto";
}
#seccion-proyecto {
    font-family: "roboto";
}